 canvas {
  /* display: block; */
  border: 1px solid black;
  max-height: calc(100vh - 120px);
  max-width: 95vw;
  margin: auto;
  display: none;
}

@font-face {
  font-family: ElectricLiquorGoggles;
  src: url(fonts/jupiter/ElectricLiquorGoggles.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Sansus-Webissimo;
  src: url(fonts/Sansus-Webissimo/Sansus\ Webissimo-Regular.ttf);
  font-weight: bold;
}

.blink_me {
  animation: blinker 1s linear infinite;
  color: grey;
  z-index: 1000;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

body>h5 {
  text-align: center;
  display:none;
 }

 body>h1 {
  text-align: center;
  display:none;
}

.StartMenu {
  background-image: url("images/green_background.png");
  box-sizing: border-box;
  height: 1000px;
  width: 600px;
  max-height: calc(100vh - 120px);
  display: flex; /*flex*/
  margin: auto;
  text-align: center;
  font-size: 30px;
  padding-top: 100px;
  flex-direction: column;
  justify-content: space-between;
  color: #999999;
}

 .StartMenu h1, .GameOverMenu h1 {
  font-family: ElectricLiquorGoggles;
 
  padding-top:30px;
  padding-bottom:30px;
 }
 
 .GameOverMenu h5 {
  font-size: 30px;
 }

 .StartMenu h5 {
   text-align: left;
   padding-left: 10px;
   font-size: 20px;
 }

 .SelectLevels {
  background-image: url("images/green_background.png");
 
  box-sizing: border-box;
  height: 1000px;
  width: 600px;
  max-height: calc(100vh - 120px);
  display: none; /*flex*/
  margin: auto;
  text-align: center;
  padding-top: 100px;
  flex-direction: column;
  justify-content: space-evenly;
  
 } 

 .SelectLevels h1 {
  font-size: 40px;
  font-family: ElectricLiquorGoggles;
  color: #999;
 }

 .SelectLevels label {
  font-size: 25px;
  font-family: Sansus-Webissimo;
 }

 .SelectLevels ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
 }

 .SelectLevels ul li {
   margin: 5px 0;
 }


 li>button {
  box-shadow: 0 1px #999;
  height: 25px;
  border-radius: 5px;
  color:  black;
  background-color: #999;
  font-family: Sansus-Webissimo;
}

li>button:hover {background-color: #999}

li>button:active {
  background-color: #8e6b3e;
  box-shadow: 0 1px red;
  transform: translateY(1px);
}
 
 #StartButtonImage{
  max-width: 40%;
 }




 


