 canvas {
  /* display: block; */
  border: 1px solid black;
  max-height: calc(100vh - 120px);
  max-width: 95vw;
  margin: auto;
  display: none;
}

body,html {
  display: flex;
  margin: 0;
  padding: 0;
  height:100%;
  width:100%;
}

@font-face {
  font-family: ElectricLiquorGoggles;
  src: url(fonts/jupiter/ElectricLiquorGoggles.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Sansus-Webissimo;
  src: url(fonts/Sansus-Webissimo/Sansus\ Webissimo-Regular.ttf);
  font-weight: bold;
}

.blink_me {
  animation: blinker 1s linear infinite;
  color: white;
  z-index: 1000;
  margin-bottom: auto;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

body>h5 {
  text-align: center;
  display:none;
 }

 body>h1 {
  text-align: center;
  display:none;
}


  .StartMenu {
  background-image: url("images/blue_background.png");

  height: 1000px;
  width: 600px;
  display: flex; /*flex*/
   
  text-align: center;
  font-size: 30px;
  
  flex-direction: column;
  justify-content: space-around;
  color: white;

  max-height: calc(100vh - 120px);
  max-width: 44vw;
  margin: auto;

  
  }



 .StartMenu h1, .GameOverMenu h1 {
  font-family: ElectricLiquorGoggles;
 
  padding-top: 100px;
  padding-bottom:30px;
  padding: 100px 30px 20px 20px;
 }
 
 .GameOverMenu h5 {
  font-size: 30px;
 }

 .StartMenu h5 {
   margin: auto;
   text-align: left;
   padding-left: 20px;
   padding-bottom: 20px;
   font-size: 20px;
 }

 .SelectLevels {
    background-image: url("images/blue_background.png");
    height: 1000px;
    width: 600px;
    text-align: center;
    justify-content: baseline;
    color: white;
    max-height: calc(100vh - 120px);
    max-width: 44vw;
    margin: auto;
    flex-direction: column;
    justify-content: space-evenly;
    display:none;
 } 

 .SelectLevels h1 {
  padding-top: 100px;
  font-family: ElectricLiquorGoggles;
  color: white;
 }

 .SelectLevels label {
  font-size: 25px;
  font-family: Sansus-Webissimo;
 }

 .SelectLevels ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
 }

 .SelectLevels ul li {
   margin: 5px 0;
 }


 li>button {
  box-shadow: 0 1px #999;
  height: 35px;
  border-radius: 5px;
  color:  black;
  background-color: #999;
  font-family: Sansus-Webissimo;
  opacity: 0.8;
  font-size: larger;
}

li>button:hover {background-color: #999}

li>button:active {
  background-color: rgb(102, 101, 101);
  box-shadow: 0 1px #999;
  transform: translateY(1px);
}
 
 #StartButtonImage{
  max-width: 20%;
  opacity: 0.95;
 }
 @media only screen and (max-width: 700px) {
  .StartMenu {
    text-align: center;
    font-size: 20px;
    justify-content: space-around;
    margin: auto;
  }
  .StartMenu h5{
    font-size: 17px;
  }
  .blink_me{
    padding-bottom: 20px;
  }
  li>button {
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    font-size: smaller;
  }
}
@media only screen and (max-width: 800px) {

  .blink_me{
    padding-bottom: 20px;
  }

@media only screen and (max-height: 800px) {
  .StartMenu {
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    margin: auto;
  }
  .blink_me{
    padding-bottom: 20px;
  }
  h5{
      padding-bottom: 20px;
  }
}